.header {
  background-color: #3f51b5;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}
.user-name {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
