# === OS ===
.DS_Store
Thumbs.db

# === IDE / Editor ===
.idea/
*.iml
.vscode/

# === Build outputs ===
out/
build/
target/
*.class

# === Python ===
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# === Temp files ===
~$*
