@import "@angular/material/prebuilt-themes/indigo-pink.css";


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: auto;
}

.centered {
  text-align: center;
}
.margin-top {
  margin-top: 1vh !important;
}
