<h1 class="centered margin-top">Composition Details</h1>
<h2>Title: {{title}}</h2>
<h2>Composer: {{composerName}}</h2>
<h2>Number of Bars: {{barLength}}</h2>
<div class="tempo-container">
  <h2>Pace: {{ selectedTempoLabel | tempo }}</h2>
</div>
<mat-divider></mat-divider>
<h1 class="centered margin-top">Manuals Details</h1>
<h2>Manuals in use: {{this.webClientData?.keyboardsInUse}}</h2>
<div class="keyboards-display">
  <ng-container *ngFor="let keyboard of keyboards; let i = index">
    <div class="keyboard-container">

      <img [src]="getKeyboardImage(i)" alt="Manual" class="keyboard-image"/>

      <div class="keyboard-name">
        {{getKeyboardName(i)}}
      </div>

    </div>
  </ng-container>
</div>
<mat-divider></mat-divider>

<h1 class="centered margin-top">Last Command Details</h1>
<div class="status-bar" [ngClass]="consumerIsConnected ? 'online' : 'offline'">
  {{ consumerIsConnected ? "Organ Sequencer was connected" : "Organ Sequencer was disconnected. Commands ignored!" }}
</div>
<div class="status-bar" [ngClass]="startCommandReceived ? 'online' : 'offline'">
  {{
  startCommandReceived
    ? "\"Start\" command received"
    : "Waiting for \"Start\" command. Other commands ignored!"
  }}
</div>

