:host {
  height: fit-content;
  margin-left: 5vw;
}

@media (max-width: 1199px) {
  :host {
    width: 43%;
  }
}

@media (min-width: 1200px) {
  :host {
    width: 35%;
  }
}


.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider {
  width: 97%;
}

.bot-container {
  display: flex;
}


.status-bar {
  padding: 10px;
  border-radius: 50px;
  justify-content: center;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  display: flex;
  width: 90%;
}

.online {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.offline {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.keyboards-display {
  display: flex;
  justify-content: space-between;

}

.keyboard-container {
  min-width: 20%;
}

.keyboard-image {

  max-width: 100%;

}

.keyboard-name {
  text-align: center;
  overflow: hidden;
  overflow-wrap: break-word;
}
